/tmp
/.classpath
/.project
/.settings
/eclipse
/bin
/application.log
/crud
/secure
/conf/crud
/conf/secure
/conf/application.conf
/public/crud
/public/secure
*.log
*.pyc
/nbproject/private/
/build/
/dist/
/logs/system.out

#for testing
/test-result

# for IntelliJ
.idea/
*.iml
*.ipr
*.iws
